@use './abstracts/variables';
@use './abstracts/mixins';
@use "./base/typography";
@use "./base/forms";
@use './base/images';
@use './pages/createPost';
@use './pages/login';
@use './pages/post';
@use './layout/header';
@use './layout/createPostSection';
@use './layout/postCard';
@use './layout/postsFeed';
@use './layout/userTag';
@use './layout/commentsCounter';
@use './layout/comment';

body {
    background-color: variables.$bgColor2;
    min-width: 320px;
    
    * {
        box-sizing: border-box;
    }

    & a {
        text-decoration: none;
        color: variables.$text-color;
    }
    
    & .sectionsContainer {
        width: 100%;
    }

    & .mainContainer {
        display: flex;
        flex-flow: row wrap;
        min-width: 320px;
        max-width: 480px;
        margin: auto;
        position: relative;

        //selecting all (*) direct decendants (>) of the main container
        & section {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            background-color: variables.$bgColor1;
            padding: 0px 10px 30px;
            border-radius: 5px;
        }
    }

}

