@use '../abstracts/variables';

img {
    width: 100%;
    margin: variables.$lineMargins;
}

.icon1 {
    padding: 8px;
    color: variables.$iconColor;
    background-color: variables.$bgColor--bright;
    display: inline-block;
    border-radius: 50%;
    font-size: small;
}

.icon2 {
    padding: 5px;
    color: variables.$iconColor--dark;
    background-color: variables.$bgColor1;
    display: block;
    border-radius: 50%;
}