@use '../abstracts/variables';

.mainContainer .header {
    background-color: variables.$bgColor--dark;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;

    & .logoContainer {
        max-width: 40%;
        min-width: 25%;
    }
}

.userMenu {
    display: flex;
    flex-flow: row wrap;

    &__dropdown {
        //hidning element from view
        //visibility: hidden;
        background-color: variables.$bgColor1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: absolute;
        right: 0;
        top: 100%;
    }

    &__dropdown:hover {
        //hidning element from view
        visibility: visible;
    }
}