header {
    background-color: rgb(221, 221, 221);
    padding: 3%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;

    & .logoContainer {
        background-color: aquamarine;
        max-width: 50%;
        min-width: 25%;
    }

    & .userMenu {
        display: flex;
        flex-flow: row wrap;
    }
}