@use '../abstracts/variables';

.app .headerContainer { 
    background-color: variables.$bgColor--dark;

    & .header {
        padding: 10px;
        margin: auto;
        margin-bottom: 5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        min-width: 320px;
        max-width: 480px;
        position: relative;
    
        & .logoContainer {
            max-width: 40%;
            min-width: 25%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }
    }
}

.userMenu {
    display: flex;
    flex-flow: row wrap;
    align-content: center;

    .userTag__userContainer__nameContainer {
        color: grey;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.dropdown {
    position: relative;
    z-index: 10;

    &__menu {
        display: none;
        width: 700%;
        position: absolute;
        background-color: variables.$bgColor1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        right: 0;
        top: 80%;
        padding: 15px 20px;
        margin-top: 0px;
        list-style-type: none;

        & li {
            display:inline-block;
            margin: 10px 0px;
            text-decoration: underline;
        }

        //selecting the user's name and removing underline
        & :nth-child(1) {
            text-decoration: none;
        }
    }
}

//selecting the dropdown menu when the dropdown element that contains it is clicked on
.dropdown:hover .dropdown__menu {
    display: flex;
    flex-flow: row wrap;
}