@use './variables';

@mixin base-styles {
    background-color: variables.$bg1;
    
    * {
        box-sizing: border-box;
    }

    & a {
        text-decoration: none;
        color: variables.$text-color;
    }
    
    & .App {
        @include flexbox();
        min-width: 320px;
        max-width: 480px;
        border: solid red 3px;
        padding: 0px 10px;
        margin: auto;
        position: relative;
    }

    & img {
        max-width: 100%;
    }
}

@mixin flexbox {
    display: flex;
    flex-flow: row wrap;
}