$text-color: #000000;

$bgColor1: #ffffff;
$bgColor2: rgb(227, 227, 227);
$bgColor--dark: #272735;
$bgColor--bright: rgb(30, 163, 220); 

$textInputHeight--default: 40px;

$iconColor: rgb(255, 255, 255);
$iconColor--dark: black;